<div class="container" style="width:40%; height:auto;
float:right; background-color:white;">
  <h1>Nigerian Crop price trend from {{slider.min}} - {{slider.max}}</h1>
  <rzslider
      rz-slider-model="slider.min"
      rz-slider-high="slider.max"
      rz-slider-options="slider.options"></rzslider>
<!-- {{mockData}} -->


<table style="font-size:2em; cursor:pointer;">
  <table style="font-size:2em; cursor:pointer;">

    <tr>
      <td style="border-width: 0px 5px 5px 0px; border-style: solid; min-width: 2em; height: 2em; text-align: center;">Nigeria Crops</td>
      <td style="border-width: 0px 5px 5px 5px; border-style: solid; min-width: 2em; height: 2em;text-align: center;">Price</td>
      <!-- <td style="border-width: 0px 5px 5px 5px; border-style: solid; min-width: 2em; height: 2em;">Consumption</td>
      <td style="border-width: 0px 5px 5px 5px; border-style: solid; min-width: 2em; height: 2em;">Production</td> -->
    </tr>
  <tr ng-repeat="item in displayDataForCurrentRange">
    <td style="border-width: 0px 5px 5px 0px; border-style: solid; min-width: 2em; height: 2em; text-align: center;">{{item.item}}</td>
    <td style="border-width: 0px 5px 5px 5px; border-style: solid; min-width: 2em; height: 2em; text-align: center;"><div class="arrow-up" ng-show="item.direction"></div><div class="arrow-down" ng-show="!item.direction"></div></td>
    <!-- <td style="border-width: 0px 5px 5px 5px; border-style: solid; min-width: 2em; height: 2em;"></td>
    <td style="border-width: 0px 5px 5px 5px; border-style: solid; min-width: 2em; height: 2em;"></td> -->
  </tr>
</table>
</div>
